body{
    background-color: rgb(166, 219, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(48, 48, 48);
    border:10px solid white;
    margin: auto;
    margin-bottom: 0px;
}


@media only screen and (max-width: 500px){
form{

width: 100%;
}

header{
    background-color: rgb(24, 87, 87);
    color: rgb(29, 138, 138);
    height: 50px;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(8, 41, 35);
    margin: 0px;
}

h2{
    text-align: center;
}

a{
    background-color: rgb(24, 87, 87);
    display: block;
    text-decoration: none;
}

#menubalk{
    display: block;
    text-align: center;
}

button{
    border: 1px solid darkslategray;
    border-radius: 4px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 200px;
    margin: 10PX;
    padding: 0px;
}

button :hover {
    background-color: rgb(62, 151, 163);
    border-radius: 1px;
    color: white;
    box-shadow: 2px 2px 2px black;
    font-weight: bold;
}

button :visited{
    color: black;
}

p{
    padding: 10px;
}

form{
    margin: auto;
    background-color: rgb(53, 128, 124);
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type=text]{
    display: inline-block;
    width: 400px;
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid rgba(39, 39, 39, 0.349);
    border-radius: 4px;
    margin-bottom: 10px;
}

input[type=text]:active{
    border: 1px solid rgba(146, 24, 24, 0.349);
}

input[type=text]:hover{
    border: 1px solid rgba(39, 39, 39, 0.349);
    background-color: rgb(192, 236, 234);
    box-shadow: 2px 2px 2px grey;
}


#bericht{
    width: 400px;
    border: 1px solid rgba(39, 39, 39, 0.349);
    border-radius: 5px;
    box-sizing: border-box;
}

#bericht:hover{
    border: 1px solid rgba(39, 39, 39, 0.349);
    background-color: rgb(192, 236, 234);
    box-shadow: 2px 2px 2px grey;
}

#verzendknop{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 400px;
    padding: 5px;
    background-color: rgb(116, 172, 170);
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

#verzendknop:hover{
    background-color: rgb(143, 190, 187);
    border: 1px solid grey;
    padding: 5px;
    box-shadow: 2px 2px 2px grey;
    font-size: 14px;
    font-weight: bold;
    color: rgb(36, 35, 35);
}

footer{
    text-align: center;
    background-color: rgb(24, 87, 87);
    color: rgb(5, 22, 22);
    height: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#slotzin{
    display: block;
    text-align: center;
}
